.todo_list .list-wrapper {
  width: 200px;
  margin: 20px;
}
.todo_list .list-wrapper .todo-item {
  position: relative;
  height: 40px;
  width: 200px;
  border: solid black 2px;
  margin-bottom: 10px;
  padding: 5px;
  transition: background-color .3s;
  background: red;
}

.todo_list .list-wrapper .todo-item_done {
  background: green;
}
.todo_list .list-wrapper .todo-item_hide {
  height: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: -4px;
  font-size: 0;
  opacity: 0;
  transition: .5s;
}

.todo_list .list-wrapper .todo-item .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: grey;
  transition: .5s;
}